@inject IJSRuntime JSRuntime
@inject HttpClient HttpClient
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq

<div id="calendar"></div>

<EventModal>
    <ModalBody>
        <p><strong>Date:</strong> @selectedDate</p>
        @if (interviewsByDate != null && interviewsByDate.Any())
        {
            <ul>
                @foreach (var interview in interviewsByDate)
                {
                    <li>@interview.Start.ToString("HH:mm")-@interview.End.ToString("HH:mm") - REZERVOVÁNO</li>
                    reservedTimeSlots.Add($"{interview.Start.ToString("HH:mm")}-{interview.End.ToString("HH:mm")}");
                }
            </ul>
        }
        else
        {
            <p>No interviews for this date.</p>
        }

        <p>Choose time:</p>
        <div>
            @foreach (var timeSlot in timeSlots.Where(ts => !reservedTimeSlots.Contains(ts)))
            {
                <div>
                    <input type="radio" id="@timeSlot" name="interviewTime" value="@timeSlot">
                    <label for="@timeSlot">@timeSlot</label>
                </div>
            }
        </div>
        <div>
            <p>Vaše jméno</p>
            <input type="text" @bind="interviewTitle" placeholder="Vaše jméno">
        </div>
    </ModalBody>
    <ModalFooter>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zrušit</button>
        <button type="button" class="btn btn-primary" @onclick="RegisterInterview">Rezervovat</button>
    </ModalFooter>
</EventModal>
@code {
    private string selectedDate;
    private dynamic[] interviewsByCode;
    private SimpleInterview[] interviewsByDate;
    private readonly List<string> timeSlots = new List<string>
    {
        "9:00-10:00", "10:00-11:00", "11:00-12:00", "12:00-13:00", "13:00-14:00",
        "14:00-15:00", "15:00-16:00", "16:00-17:00"
    };
    private List<string> reservedTimeSlots = new List<string>();
    private string interviewTitle;

    [Parameter]
    public string Code { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GetInterviews();
            await JSRuntime.InvokeVoidAsync("initCalendar", DotNetObjectReference.Create(this), interviewsByCode);
        }
    }

    [JSInvokable]
    public async Task HandleDateClick(string selectedDate)
    {
        this.selectedDate = selectedDate;
        await GetInterviewsByDate();
        await JSRuntime.InvokeVoidAsync("openEventModal");
        StateHasChanged();
    }

    [Parameter]
    public EventCallback<DateTime> OnDateClicked { get; set; }

    private async Task GetInterviews()
    {
        await JSRuntime.InvokeAsync<object>("console.log", $"/api/calendar/interviewsByCode?code={Code}");

        var response = await HttpClient.GetAsync($"/api/calendar/interviewsByCode?code={Code}");

        if (response.IsSuccessStatusCode)
        {
            interviewsByCode = await response.Content.ReadFromJsonAsync<dynamic[]>();
        }
        else
        {
        }
    }
    private async Task GetInterviewsByDate()
    {
        ClearReservedTimeSlots();
        var response = await HttpClient.GetAsync($"/api/calendar/interviewsByDate?selectedDate={selectedDate}&code={Code}");

        if (response.IsSuccessStatusCode)
        {
            interviewsByDate = await response.Content.ReadFromJsonAsync<SimpleInterview[]>();
        }
        else
        {
            
        }
    }
    private async Task RegisterInterview()
    {
        
    }
    private void ClearReservedTimeSlots()
    {
        reservedTimeSlots.Clear();
    }
    public class SimpleInterview
    {
        public DateTime Start { get; set; }
        public DateTime End { get; set; }
        public string Title { get; set; }
    }
}
